.containerM {
    justify-content: center;
    display: flex;
}

p {
    font-family: monospace;
}

#procesos-info {
    align-items: center;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Propiedad para la sombra */
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 10px;
    margin-bottom: 15px;
}

/* Estilo para los divs con id "matriz" */
#matriz {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Propiedad para la sombra */
    overflow: auto;
}

.scroll-containerM {
    overflow-x: auto;
    white-space: nowrap; /* Evita que los elementos se rompan en varias líneas */
    padding-bottom: 20px;
}

.content {
    display: inline-block; /* Para que el ancho sea el necesario */
    min-width: 100%; /* Asegura que la barra de desplazamiento siempre esté presente */
}

/* Estilo para los divs con id "matriz" */
#botonAgregar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modificacionColumna {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    background: white;
}

#modificacionColumna:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

/* Estilo para los divs con clase "recuadro-blanco" */
.recuadro-blanco {
    margin: 10px;
    padding: 24px 30px;
    cursor: pointer;
    background-color: #fff; /* Color de fondo */
    border: 1px solid #ccc; /* Borde opcional */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Propiedad para la sombra */
    border-radius: 5px;
    height: 24px;
    width: 30px;
    display: flex; /* Utiliza display flex para centrar contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilo para los divs con id "fila" */
.fila {
    display: flex;
    /*clear: both;  Asegura que los divs "fila" estén uno debajo del otro */
}


/* SECCION DE FICHAS */
#contenedorFichas {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Propiedad para la sombra */
    width: 33%;
}

.ficha {
    margin: 10px;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
}

.fichaEjecucion {
    background-color: #007bff;
}

    .fichaEjecucion:hover {
        background: #0b7dda;
    }

.fichaDisco {
    background-color: #04AA6D;
}

    .fichaDisco:hover {
        background-color: #46a049;
    }

.fichaListo {
    background-color: #ff9800;
}

    .fichaListo:hover {
        background: #e68a00;
    }

.fichaTerminado {
    background-color: #f44336;
}

    .fichaTerminado:hover {
        background: #da190b;
    }

.eliminar-texto {
    position: absolute;
    transform: translate(190%, -170%);
    color: red; /* Color de texto rojo */
    display: none; /* Oculta el texto de eliminación inicialmente */
    /* Otros estilos para el texto de eliminación */
}

.boton-estilizado {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
}
    .boton-estilizado:hover {
        background-color: #47A54B; /* Color de fondo */
    }

.boton-practicar {
    background-color: #2986CC; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
}
    .boton-practicar:hover {
        background-color: #2D84C5; /* Color de fondo */
    }

#ejemplo {
    border: 2px solid #ccc; /* Borde opcional */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); /* Propiedad para la sombra */
    border-radius: 5px;
}

[id^="procesoInfo"] {
    /*background-color: #2986CC;*/

    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Propiedad para la sombra */
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 10px;
    margin-bottom: 15px;
}

.errorTipo {
    background-color: #f07e7e;
}