.intro {
    height: 100%;
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

thead th {
    color: #fff;
}

.card {
    border-radius: .5rem;
}

.table-scroll {
    border-radius: .5rem;
}

    .table-scroll table thead th {
        font-size: 1.25rem;
    }

thead {
    top: 0;
    position: sticky;
}

.btnResolver {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btnResolver:hover {
        background-color: #45a049;
    }

    .btnResolver:active {
        background-color: #3e8e41;
    }

.btnEliminar {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btnEliminar:hover {
        background-color: #da190b;
    }

    .btnEliminar:active {
        background-color: #da190b;
    }