
@{
    ViewBag.Title = "Ejercicio";
    ViewData["Title"] = "Planificación de Procesos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" containt="width=device-width" />
    <title>Menu Planificacion de Procesos URJC</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/ejercicio.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">DRAG & DROP</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h5 class="text-center">FCFS</h5>
        </div>
    </div>

    <!-- Información de Procesos -->
    <div class="container">
        <div class="row">
            <div id="procesos-info">
                <h4 class="text-center">Proceso 1</h4>
                <p>Tiempo de llegada: 0 segundos</p>
                <p>Ráfagas: 20 CPU - 10 Disco - 20 CPU</p>
            </div>
            <div id="procesos-info">
                <h4 class="text-center">Proceso 2</h4>
                <p>Tiempo de llegada: 10 segundos</p>
                <p>Ráfagas: 10 CPU - 20 Disco - 20 CPU</p>
            </div>
            <!-- Agrega información de otros procesos aquí -->
        </div>
    </div>

    <!-- Matriz de Recuadros Blancos -->
    <div class="row">
        <div class="col-md-11">
            <div class="container" id="matriz">
                <div class="scroll-container">
                    <div class="content">
                        @for (int i = 0; i < 2; i++)
                        {
                            <div class="fila" id="fila-@i">
                                @for (int j = 0; j < 8; j++)
                                {
                                    <div class="recuadro-blanco" id="recuadro-blanco-@i-@j"></div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div style="text-align: center; margin-top:50px; margin-right: 50px;">
                <button class="btn-secondary" id="agregar-columna" onclick="agregarColumna()">+</button>
            </div>
        </div>
    </div>
    <br />

    <!-- Fichas (E, D, L, T) -->
    <div class="container">
        <div class="row">
            <div class="fila">
                <div class="col-md-3" id="contenedorFichaEjecucion">
                    <div class="ficha fichaEjecucion" id="Ejecucion" draggable="true">E</div>
                </div>
                <div class="col-md-3" id="contenedorFichaDisco">
                    <div class="ficha fichaDisco" id="Disco" draggable="true">D</div>
                </div>
                <div class="col-md-3" id="contenedorFichaListo">
                    <div class="ficha fichaListo" id="Listo" draggable="true">L</div>
                </div>
                <div class="col-md-3" id="contenedorFichaTerminado">
                    <div class="ficha fichaTerminado" id="Terminado" draggable="true">T</div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div class="text-center">
                <button id="Calcular" class="boton-estilizado" onclick="resolver()">RESOLVER</button>
            </div>
        </div>
    </div>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/Custom/ejercicio.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
