
@{
    ViewBag.Title = "Menu";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" containt="width=device-width, initial-scale=1" />
    <title>Menu Planificacion de Procesos URJC</title>

    <!-- CSS FILES -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/index.css" rel="stylesheet">
    @*<link href="~/Content/css/bootstrap-min.css" rel="stylesheet">*@
    <link href="~/Content/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/ejercicios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

</head>
<body>



    <main>

        <!-- BARRA DE ARRIBA -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="MenuPrincipal">
                    <strong><span>URJC</span> PROCESOS</strong>
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item" active>
                            <a class="nav-link" href="Introduccion">INTRODUCCIÓN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Heuristicas">HEURÍSTICAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="Ejercicios">EJERCICIOS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="Crear">CREAR</a>
                        </li>
                    </ul>
                </div>

                <div class="d-none d-lg-block">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="" id="userName"></a>
                                <div class="dropdown-menu" id="dropdownMenu">
                                    <a id="AsignarProfesor" class="nav-link" href="AsignarProfesor" style="margin-top:5px;" hidden>Asignar Profesor</a>
                                    <a class="nav-link" href="CambiarContraseña" style="margin-top:5px;">Cambiar Contraseña</a>
                                    @*<a style="margin-top:5px;"></a>*@
                                    <a class="nav-link" href="LoginView" style="margin-top:5px;">Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                        <img src="~/Content/images/usuario-urjc.svg" id="icon" alt="User Icon" width="42" height="32" />
                    </div>
                </div>
            </div>
        </nav>

        <!-- LISTA DE EJERCICIOS -->
        <section class="featured-product section-padding">
            <div class="container">
                <div class="row">
                    <table class="table text-center" style="box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2); border-radius: 5px; border: 1px solid #ccc; ">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Nº</th>
                                <th scope="col">Heurística</th>
                                <th scope="col">Nº Procesos</th>
                                <th scope="col">Ráfagas</th>
                                <th scope="col">Subido por</th>
                                <th scope="col" style="border-width: 1px;">Resolver</th>
                                <th scope="col" id="columnaBorrar" style="border-width: 1px;" hidden>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>


    </main>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/indexScript/jquery.min.js"></script>

    <script src="~/Scripts/Custom/indexScript/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/Custom/indexScript/Headroom.js"></script>
    @*<script src="~/Scripts/Custom/indexScript/jQuery.headroom.js"></script>*@
    <script src="~/Scripts/Custom/indexScript/slick.min.js"></script>
    @*<script src="~/Scripts/Custom/indexScript/custom.js"></script>*@
    <script src="~/Scripts/Custom/index.js"></script>
    <script src="~/Scripts/Custom/ejercicios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>

