
@{
    ViewBag.Title = "Menu";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" containt="width=device-width, initial-scale=1" />
    <title>Menu Planificacion de Procesos URJC</title>

    <!-- CSS FILES -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/index.css" rel="stylesheet">
    @*<link href="~/Content/css/bootstrap-min.css" rel="stylesheet">*@
    <link href="~/Content/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

</head>
<body>



    <main>

        <!-- BARRA DE ARRIBA -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="MenuPrincipal">
                    <strong><span>URJC</span> PROCESOS</strong>
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="Introduccion">INTRODUCCIÓN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Heuristicas">HEURÍSTICAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Ejercicios">EJERCICIOS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="Crear">CREAR</a>
                        </li>
                    </ul>
                </div>

                <div class="d-none d-lg-block">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="" id="userName">itsRequena</a>
                                <div class="dropdown-menu" id="dropdownMenu">
                                    <a id="AsignarProfesor" class="nav-link" href="AsignarProfesor" style="margin-top:5px;" hidden>Asignar Profesor</a>
                                    <a class="nav-link" href="CambiarContraseña" style="margin-top:5px;">Cambiar Contraseña</a>
                                    @*<a style="margin-top:5px;"></a>*@
                                    <a class="nav-link" href="LoginView" style="margin-top:5px;">Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                        <img src="~/Content/images/usuario-urjc.svg" id="icon" alt="User Icon" width="42" height="32" />
                    </div>
                </div>

            </div>
        </nav>


        <!-- USARÉ PANTALLA PRINCIPAL DEBAJO DE LA IMAGEN -->
        <section class="about section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="mb-5">Get started with <span>Little</span> Fashion</h2>
                    </div>

                    <div class="col-lg-2 col-12 mt-auto mb-auto">
                        <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Introduction</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">How we work?</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Capabilites</button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-10 col-12">
                        <div class="tab-content mt-2" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <img src="~/Content/images/usuario-urjc.svg" class="img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">Good <span>Design</span> <br>Ideas for <span>your</span> fashion</h4>

                                            <p>Little Fashion templates comes with <a href="Index.html">sign in</a> / <a href="Index.html">sign up</a> pages, product listing / product detail, about, FAQs, and contact page.</p>

                                            <p>Since this HTML template is based on Boostrap 5 CSS library, you can feel free to add more components as you need.</p>

                                            <div class="mt-2 mt-lg-auto">
                                                <a href="Index.html" class="custom-link mb-2">
                                                    Learn more about us
                                                    <i class="bi-arrow-right ms-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <div class="ratio ratio-16x9">
                                            <iframe src="https://www.youtube-nocookie.com/embed/f_7JqPDWhfw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">Life at Studio</h4>

                                            <p>Over three years in business, We’ve had the chance to work on a variety of projects, with companies</p>

                                            <p>Custom work is branding, web design, UI/UX design</p>

                                            <div class="mt-2 mt-lg-auto">
                                                <a href="Index.html" class="custom-link mb-2">
                                                    Work with us
                                                    <i class="bi-arrow-right ms-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <img src="~/Content/images/usuario-urjc.svg" class="img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">What can help you?</h4>

                                            <p>Over three years in business, We’ve had the chance on projects</p>

                                            <div class="skill-thumb mt-3">

                                                <strong>Branding</strong>
                                                <span class="float-end">90%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                                </div>

                                                <strong>Design & Stragety</strong>
                                                <span class="float-end">70%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                </div>

                                                <strong>Online Platform</strong>
                                                <span class="float-end">80%</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                </div>

                                            </div>

                                            <div class="mt-2 mt-lg-auto">
                                                <a href="Index.html" class="custom-link mb-2">
                                                    Explore products
                                                    <i class="bi-arrow-right ms-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>


    </main>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/indexScript/jquery.min.js"></script>

    <script src="~/Scripts/Custom/indexScript/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/Custom/indexScript/Headroom.js"></script>
    @*<script src="~/Scripts/Custom/indexScript/jQuery.headroom.js"></script>*@
    <script src="~/Scripts/Custom/indexScript/slick.min.js"></script>
    @*<script src="~/Scripts/Custom/indexScript/custom.js"></script>*@
    <script src="~/Scripts/Custom/index.js"></script>
</body>
</html>

