
@{
    ViewBag.Title = "Menu";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" containt="width=device-width" />
    <title>Menu Planificacion de Procesos URJC</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/menu.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h2>PLANIFICACIÓN DE PROCESOS</h2>
        <label for="algoritmo">Selecciona una técnica para la planificación de procesos:</label>
        <select id="algoritmo" name="algoritmo">
            <option value="index">--Seleccione una opcion--</option>
            <option value="fcfs">First-Come,First-Served (FCFS)</option>
            <option value="sjf">Shortest Job First (SJF)</option>
            <option value="rr">Round-Robin (RR)</option>
        </select>
        <br />
        <label for="numProcesos">Introduzca el numero de procesos: </label>
        <input type="text" id="numProcesos" name="Numero de Procesos" />
    </div>
    <br />
    <div id="Procesos">

    </div>
    <div class="text-center">
        <button id="Calcular" class="boton-estilizado" onclick="calcular()">CALCULAR</button>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/Custom/Menu.js"></script>
</body>
</html>

